<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a href="#top" class="navbar-brand">
      <img src="assets/img/AStore.png" width="40" height="40" alt="logo">
    </a>

    <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed"
            aria-controls="navbarSupportedContent"><span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarSupportedContent" [collapse]="isCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="" class="nav-link">Home</a>
        </li>
        <li *ngIf="role!='4'" class="nav-item">
          <a routerLink="/subscriptions" class="nav-link">Subscriptions</a>
        </li>
        <li *ngIf="role=='2'||role=='1'" class="nav-item">
          <a routerLink="/my-products" class="nav-link">My products</a>
        </li>
        <li *ngIf="role=='3'||role=='2'||role=='1'" class="nav-item">
          <a routerLink="/wallets" class="nav-link">Wallets</a>
        </li>
        <li *ngIf="role=='1'" class="nav-item">
          <div class="btn-group mr-sm-2" dropdown>
            <button dropdownToggle type="button" class="btn btn-outline-info p-2 dropdown-toggle"
                    aria-controls="dropdown-tables">
              Tables <span class="caret"></span>
            </button>
            <ul id="dropdown-tables" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="menuitem">
                <button class="btn dropdown-item" routerLink="/users">Users</button>
              </li>
              <li role="menuitem">
                <button class="btn dropdown-item" routerLink="/all-wallets">Wallets</button>
              </li>
              <li role="menuitem">
                <button class="btn dropdown-item" routerLink="/all-subscriptions">Subscriptions</button>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <button *ngIf="role!='4'" [disabled]="true"
                class="btn btn-outline-warning mr-sm-2">{{currentUser.username}}</button>
        <div class="btn-group mr-sm-2" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-basic">
            Categories <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem" *ngFor="let category of categories" routerLink="/products/category_id/{{category.id}}">
              <button class="btn dropdown-item">{{category.name}}</button>
            </li>
          </ul>
        </div>
        <button *ngIf="role=='4'" type="button" class="btn btn-primary" routerLink="/login">Sign in</button>
        <button *ngIf="role!='4'" type="button" class="btn btn-primary" (click)="signOut()">Sign out</button>
      </form>

    </div>
  </div>
</nav>

<ng-template #template>
  <form [formGroup]="formGroup" (validSubmit)="addCategory()">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Create new category</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="_closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" formControlName="Name"/>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>
    </div>
  </form>
</ng-template>

<ng-template #editTemplate>
  <form [formGroup]="editUserGroup" (validSubmit)="editUser()">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit user</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="_closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Username</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input class="form-control" formControlName="Username"/>
        </div>
      </div>
      <div class="form-group">
        <label>Name</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input class="form-control" formControlName="Name"/>
        </div>
      </div>
      <div class="form-group">
        <label>Date of birth</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
          </div>
          <input type="text"
                 placeholder="Date of birth"
                 class="form-control"
                 bsDatepicker
                 [minDate]="minDate"
                 [maxDate]="maxDate"
                 formControlName="DateOfBirth">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>
    </div>
  </form>
</ng-template>
